body {
	background-color: gray;
}

@media screen and (min-width:600px) {
  sidebar {
    float: left;
    width: 25%;
  }
  .maincontent {
    margin-left: 25%;
  }
}
@media screen and (max-width:599px) {
  .sidebar li {
    display: inline;
  }
}

.wrapper {
	width: 100%;
	padding: 2%;
}

.titlebar {
	background-color: #333333;
	text-align: right;
	margin-left: auto;
  margin-right: auto;
  border: 1px solid #333333;
  width: 90%;
  border-radius: 6px;
}

.sidebar {
	float: left;
	width: 25%;
	border: 1px solid #333333;
	margin: 0 1.5% 0% 1.5%;
	background-color: #cccccc;
	border-radius: 6px;
}

.sidebar ul {
	list-style-type:none;
}

.maincontent {
	background-color:#cccccc;
	border-radius: 6px;
	border: 1px solid #333333;
}
#maincontent a:link {color: blue;}
#maincontent a:visited {color: purple;}
#maincontent a:hover {color: #5CD65C;}

.footer {
	background-color: #333333;
	border: 1px solid #333333;
	margin: 0 1.5% 0% 1.5%;
	margin-bottom: 0;
	clear: both;
	margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-radius: 6px;
}

h1{	font-family: "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
	font-size: 350%;
	font-weight: bold;
}

p {	font-family: "Georgia, serif";
	margin: 10px;

}
.tekno
	{color: #5CD65C}