body {
	background-color: gray;
	font-family: "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
}

@media screen and (min-width:600px) {
  sidebar {
    float: left;
    width: 25%;
  }
  .maincontent {
    margin-left: 25%;
    width: 75%;
  }
}
@media screen and (max-width:599px) {
  .sidebar li {
    display: inline;
  }
}

.wrapper {
	width: 100%;
	padding: 3%;
}

.titlebar {
	background-color: #333333;
	text-align: right;
	margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  border: 1px solid #333333;
  width: 90%;
  border-top-left-radius: 10px;
}

.sidebar {
	float: left;
	width: 25%;
	background-color: #cccccc;
	border-top-left-radius: 10px;
	padding: 1em;
	margin-bottom: 5px;
}

.sidebar ul {
	list-style-type:none;
}

.maincontent {
	background-color:#cccccc;
	margin-bottom: 5px;
	padding: 1em;
}

#maincontent a:link {color: blue;}
#maincontent a:visited {color: purple;}
#maincontent a:hover {color: #66cc33;}

.footer {
	background-color: #333333;
	border: 1px solid #333333;
	clear: both;
	margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-top-left-radius: 10px;
 }

h1  {
	font-size: 4em;
	font-weight: bold;
}

p {
	font-family: "Georgia, serif";
	margin-left: 1em;
}

#social li  {
	display: inline;
}

#tekno  {
	color: #66cc33;
	font-size: 75%;
	font-weight: normal;
}