body {
	background-color: gray;
	font-family: "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
	font-size: 1em;
}

@media screen and (min-width:600px) {
  .sidebar {
    float: left;
    width: 25%;
  }
  .maincontent {
    margin-left: 25%;
    width: 65%;
  }
}
@media screen and (max-width:599px) {
  .sidebar li {
    display: inline;
  }
}

.wrapper {
	width: 100%;
	padding: 3%;
}

.titlebar {
	background-color: #333333;
	text-align: right;
	margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  width: 90%;
  border-top-left-radius: 10px;
}

.sidebar {
	width: 25%;
	background-color: #cccccc;
	border-top-left-radius: 10px;
	padding: 1em;
	margin-bottom: 5px;
	border-left: 1px solid #333333;
	border-top: 1px solid #333333;
	border-bottom: 1px solid #333333;
}

.sidebar ul {
	list-style-type:none;
}

.maincontent {
	background-color:#cccccc;
	margin-bottom: 5px;
	padding: 1em;
	border-right: 1px solid #333333;
	border-top: 1px solid #333333;
	border-bottom: 1px solid #333333;
}

#maincontent a:link {color: blue;}
#maincontent a:visited {color: purple;}
#maincontent a:hover {color: #66cc33;}

.footer {
	background-color: #333333;
	clear: both;
	margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-top-left-radius: 10px;
  text-align: center;
  padding: .5em;
  color: gray;
 }

h1  {
	font-size: 4em;
	font-weight: bold;
}

p {
	font-family: "Georgia, serif";
	margin-left: 1em;
}

#social li  {
	display: inline;
}

#tekno  {
	color: #66cc33;
	font-size: 75%;
	font-weight: normal;
}