body {
  font-size: 14px;
  color: #404040;
  background-color: #f1f1f1;
  margin: 0px;
}

body, p, h1, h2, h3, h4, ul, ol, {
font-family: verdana,helvetica,arial,sans-serif;
}

#titlebar {
  width: 1220px;
  margin: auto;
  height: 60px;
}

#topnav {
  height: 25px;
  background-color: #d3d3d3;
}

#topnavTut {
  height: 20px;
  width: 1190px;
  margin: auto;
  word-spacing: 12px;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 5px;
  background-color: #d3d3d3;
}

a.navbar:link, a.topnav:visited {
  color: #555555;
  text-decoration: none;
}
