body {
  color: #404040;
  background-color: #f1f1f1;
  margin: 0px;
}

body, p, h1, h2, h3, h4, ul, ol, {
font-family: "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
font-size: 24px;
}

#top {
  width: 1220px;
  margin: auto;
  height: 60px;
}

#topLogo {
  font-family: "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
  font-size: 48px;
  text-align: left;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  font-weight: bolder;
}

#tekno {
  color: #66cc33;
  font-size: 75%;
  font-weight: normal;
}

#topnav {
  height: 35px;
  background-color: #d3d3d3;
}

#topnavTut {
  height: 30px;
  width: 1190px;
  margin: auto;
  word-spacing: 6px;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 5px;
  background-color: #d3d3d3;
}

#page {
  width: 1160px;
  margin: auto;
  margin-top: 15px;
  background-color: #ffffff;
  padding-left: 40px;
  padding-bottom: 40px;
  box-shadow: 0px 10px 20px 3px #d3d3d3;
}

a.topnav:link, a.topnav:visited {
  color: #555555;
  text-decoration: none;
}

#col1 {
  float: left;
  width: 325px;
  margin-top: 30px;
  margin-right: 5px;
  padding: 5px;
}

#col2 {
  float: left;
  width: 325px;
  margin-top: 30px;
  margin-right: 5px;
  padding: 5px;
}

#col3 {
  float: left;
  width: 325px;
  margin-top: 30px;
  margin-right: 5px;
  padding: 5px;
}

#footer {
  clear: both;
}