body {
	background-color: gray;
	width: 85%;
	padding: 25px;

}
.titlebar {
	border: 3px solid #333333;
	margin: 15px;
	padding: 10px;
}
.sidebar {
	width: 25%;
	border: 1px solid #333333;
	margin: 15px;
	background-color: #6495ed;
}
.maincontent {
	width: 75%;
	background-color: #ffffff;
	margin: 15px;
	border: 1px solid #666666;
}
.footer {
	margin: 15px;
	background-color:  #6495ed;

}